body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.zoom-effect:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-photo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.profile-pictures {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.card-header {
  background-color: lightgray !important;
  border-bottom: none !important;
  border-top-left-radius: 24px !important;
  border-top-right-radius: 24px !important;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 10px;
}

.pointer {
  cursor: pointer !important;
}

.sidebar {
  width: 200px;
  height: 80vh;
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 12px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.sidebar li:hover {
  background-color: #e1e1e1;
}

.sidebar li.active {
  background-color: #ddd;
}

.content {
  margin-left: 200px;
  padding: 20px;
  transition: margin 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-200px);
  }

  .content {
    margin-left: 0;
  }

  .app .active {
    background-color: #ddd;
  }
}

.top-navbar {
  background-color: #f4f4f4;
  padding: 10px;
}

.top-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.top-navbar li {
  padding: 0 12px;
  cursor: pointer;
}

.side-nav-adjust {
  margin: 300px 50px 75px 25px;
}

.center-detail {
  margin: 10PX 40PX 25PX 120PX;
  border-right: 1px solid lightgray;
}

@media (width: 1280px) {
  .center-detail {
    margin: 10PX 40PX 25PX 30PX;
    border-right: 1px solid lightgray;
  }
}

@media (width: 1024px) {
  .center-detail {
    margin: 10PX 40PX 25PX -10PX;
    border-right: 1px solid lightgray;
  }
}

.card-height {
  min-height: 100vh;
  background-Color: #6600FF;
}

@media (width: 1024px) {
  .card-height {
    min-height: 129vh;
    background-Color: #6600FF;
  }
}

@media (width: 390px) {
  .center-detail {
    margin: 10PX 40PX 25PX 50PX;
    border-right: none;
  }
}

@media (width: 280px) {
  .center-detail {
    margin: 10PX 40PX 25PX 18PX;
    border-right: none;
  }
}

@media (width: 280px) {
  .hr-divider {
    width: 214px;
  }
}

@media (width: 390px) {
  .hr-divider {
    display: none;
  }
}

.hr-divider {
  width: 336px;
}

.rest-mid-content {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  min-width: 172px;
  padding: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.dropdown-content-size {
  font-size: 14px;
}

.decoration {
  text-decoration: none;
}

.profile-pic-dropdown {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.other-profile {
  font-size: 12px;
}

.signout-button {
  background-color: #af3c12;
  border-radius: 20px;
  border: none;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-image: url("Graphic.svg");

}

.main-content {
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

.card-radius {
  position: relative;
  overflow: hidden;
  border-radius: 24px !important;
}

.home-body-card {
  overflow-y: auto;
  padding-top: 50px;
  max-height: calc(100vh - 100px);

}

.scrollable {
  max-height: calc(100vh - 100px);

}

.title-text {
  font-size: 18px;
  line-height: 2.3;
}

.chats-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #415acb;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  height: 37px;
  width: 180px;
}

.scrollable-names {
  max-height: 200px;
  overflow-y: scroll;
}

.border-none {
  border: none !important;
}


/* Chatbot */
.chat-window {
  position: absolute;
  bottom: 10px;
  right: 190px;
  width: 300px;
  max-height: 400px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #415acb;
  color: white;
  font-weight: bold;
}

.closing-icon {
  cursor: pointer;
}

.profile-section {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-name {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 80px;
}

.message-container {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
}

.chat-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-top: 1px solid #ddd;
  background-color: #f9f9f9;
}

/* Example styles for chat messages */
.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.sender {
  background-color: #dcf8c6;
}

.receiver {
  background-color: #f3f3f3;
}